:host {
  display: block;
  margin: 10px;
  padding: 10px;
  background-color: var(--color-primary);
  border-radius: 6px;
  transition: all 0.2s ease;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);

  &:hover {
    box-shadow: 0 4px 16px rgba(0,0,0,0.5);
  }
}

.favorite-star {
  ::ng-deep svg { fill: none; stroke: var(--color-white-secondary); }
  &.favorite-filled ::ng-deep svg { fill: var(--color-favorite); stroke: var(--color-favorite); }
}
