<div class="mt-2 mx-4 flex justify-center">
  @if (signedIn()) {
  <button class="btn" [routerLink]="['/']">Home</button>

    @if (todoistConnected()) {
      <button (click)="todoistStore.disconnect()" class="btn bg-disconnect text-white hover:bg-disconnect-hover hover:-translate-y-0.5 hover:shadow-[0_3px_6px_var(--color-disconnect-shadow)]">
        Disconnect Todoist
      </button>
  } @else {
    <button (click)="todoistStore.connect()" class="btn bg-connect text-primary hover:bg-connect-hover hover:-translate-y-0.5 hover:shadow-[0_3px_6px_var(--color-connect-shadow)]">
      Connect to Todoist
    </button>
    }
    <button (click)="signOut()" class="btn">Sign out</button>

    <span class="flex-3"></span>
    <button class="btn" [routerLink]="['/add']">Add Recipe</button>
    <button class="btn bg-disconnect text-white hover:bg-disconnect-hover hover:-translate-y-0.5 hover:shadow-[0_3px_6px_var(--color-disconnect-shadow)]" (click)="deleteAllRecipes()">Delete All</button>
  }
</div>

